body {
    background-color: rgb(255, 255, 255);
    position: absolute;
    object-fit: cover;
    overflow: hidden;
    margin: 0%;
}

#canvas1 {
    position: absolute;
  object-fit: cover;
  overflow: hidden;
  border: none;
}

#dogImage, #backgroundImage, #enemyImage, #sign1 {
    display: none;
}

#dogImage {
    z-index: 30;
}

#pressSpace {
    background-color: white;
    padding: 10px;
    position: absolute;
    margin-top: 600px;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

#statusText {
 
    padding: 40px;
  color: white;
  font-weight: bold;
  font-size: 50px;
    position: absolute;
    left: 50vw;
    top: 40vh;
}