body {
    background-color: rgb(255, 255, 255);
    position: absolute;
    object-fit: cover;
    overflow: hidden;
    margin: 0%;
}

#canvas1 {
    position: absolute;
  object-fit: cover;
  overflow: hidden;
  border: none;
}

#dogImage, #backgroundImage, #enemyImage, #sign1, img.bg {
    display: none;
}

#dogImage {
    z-index: 30;
}

#pressSpace {
    font-size: 40px;
    font-family: fantasy;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #213D59;
    padding: 10px;
    width: 20vw;
    position: absolute;
    color: #C9AE77;
    font-weight: bold;
    margin-top: -20vh;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

#statusText {
    text-align: center;
    background-color: #213D59;
    border: dashed #007E91 8px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 40px;
    color: white;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 30px;
    width: 40vw;
    position: absolute;
    left: 30vw;
    top: 20vh;
    z-index: 60;
}

.char-img {
    display: none;
    width: 200px;
    position: relative;
    z-index: 70;
}
